// colors 
$primary-color: #cc774d;
$secondary-color: #547593;
$light-color: #96d3fb;
$tertiary-color: rgb(231, 170, 0);
$dark-background-color: rgba(84,117,147, .96);
$nav-background-color: rgba(84,117,147, .10);
$light-background-color: rgba(14, 100, 190, .15);
$default-font-color: white;
$primary-text-color: rgb(124, 128, 129);

// fonts 
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$text-font: helvetica , serif;
